@import 'var';
ul{
    list-style: none;
    li{
        a{
            text-decoration: none;
            color: $g;
            font-size: 14px;
            line-height: 35px;
            &:hover{
                color: black;
            }
        }
       
    }
   
}